.bodyPart {
    align-content: center;
    font-weight: 500;
}

.bodyPart .title7 {
    color: #317773;
    font-size: 50px;
    text-align: center;
    font-family: proxima-nova-extra-condensed, sans-serif;
}
.subtitle {
    color: black;
    text-align: center;
}

.maintext {
    color: black;
    text-align: center;
}

  grid-itemm1{ 
    grid-area: Desc1; 
  }
  grid-itemm2 { 
    grid-area: video; 
  }
  
  .home .project7 .grid-container7 {
    display: grid;
    grid-template-columns: 1fr  ;
    grid-template-areas:
      'Desc1  '
      'video ';
      /* padding: 5vh 0; */
      row-gap: 10vh;
    font-family: minion, sans-serif;
  }
  
  .home .project7 .grid-container7 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    /* padding: 20px 0; */
    font-size: 15px;
    font-weight: 300;
  }

  .video-responsive {
    align-items: center;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 10vw;
    top: 0;
    height: 70%;
    width: 70%;
    position: absolute;
    margin: 0;
  }
.project7 .projectDesc{
  align-content: center;
  /* margin-top:5vh; */
}

.project7 .projectDesc .bold {
  display: inline;
  font-weight: 600;
  color: #EB9C5C;

}


