.bodyPart {
    align-content: center;
    font-weight: 500;
}

.bodyPart .title {
    color: #317773;
    font-size: 50px;
    text-align: center;
    font-family: proxima-nova-extra-condensed, sans-serif;
}
.subtitle {
    color: black;
    text-align: center;
}

.maintext {
    color: black;
    text-align: center;
}

.pppart1 { 
    grid-area: genDesc; 
  }
  .pppart2 { 
    grid-area: Desc1; 
  }
  .pppart3 { 
    grid-area: video; 
  }
  
  .home .project7 .grid-container7 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'Desc1 Desc1 Desc1 video video video video'
      'Desc1 Desc1 Desc1 video video video video'
      ;
    gap: 0;
    /* padding: 1vh 0; */
    font-family: minion, sans-serif;
  }
  
  .home .project7 .grid-container7 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 300;
  }

  .video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
.projectDesc{
  align-content: center;
  /* margin-top:5vh; */
}

.projectDesc .bold {
  display: inline;
  font-weight: 600;
  color: #7A9E9F;

}


