.bodyPart {
    align-content: center;
    font-weight: 500;
}

.bodyPart .title {
    color: #317773;
    font-size: 50px;
    text-align: center;
    font-family: proxima-nova-extra-condensed, sans-serif;
}
.subtitle {
    color: black;
    text-align: center;
}

.maintext {
    color: black;
    text-align: center;
}

.ppart1 { 
    grid-area: genDesc; 
  }
  .ppart2 { 
    grid-area: Desc1; 
  }
  .ppart3 { 
    grid-area: video; 
  }
  
  .home .project4 .grid-container4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'genDesc genDesc'
      'Desc1 video'
      'Desc1 video'
      ;
    gap: 1vw;
    padding: 1vh 0;
  }
  
  .home .project4 .grid-container4 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 17px;
    font-weight: 300;
  }

.video iframe {
    margin-left:  25% ;
}

.projectDesc{
  align-content: center;
  margin-top:5vh;
}


