.bodyPart {
    align-content: center;
    font-weight: 500;
}

.bodyPart .title5 {
    color: #317773;
    font-size: 50px;
    text-align: center;
    font-family: proxima-nova-extra-condensed, sans-serif;
    margin: 0;
}

.title5 p{
  margin: 0;
  
}

/* .pppart1 { 
    grid-area: genDesc; 
  } */
.p2 { 
    grid-area: Desc11; 
   
  }
  .p3 { 
    grid-area: editor; 
  }
  
  .home .project5 .grid-container5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'Desc11  Desc11'
      'Desc11 Desc11'
      'editor editor'
      'editor editor'
      ;
    gap: 1vw;
    /* padding: 1vh 0; */
  }
  
  .home .project5 .grid-container5 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 0 0;
    font-size: 15px;
    font-weight: 300;
  }

.projectDesc5{
  align-content: center;
  text-align: justify;
  font-family: minion, sans-serif;
  margin-bottom:5vh;
}

iframe {
    width: 50vw;
    height: 75vh
} 

.project5 .bold {
  display: inline;
  font-weight: 600;
  color: #EB9C5C;

}