.bodyPart {
    align-content: center;
}

.bodyPart .title {
    color: #317773;
    font-size: 50px;
    text-align: center;
    font-family: proxima-nova-extra-condensed, sans-serif;
    letter-spacing: 0.2rem;
}
.subtitle {
    color: black;
    text-align: center;
}

.maintext {
    color: black;
    text-align: center;
}

.iiitem0{
  grid-area:roles;
}
.iiitem1 { 
    grid-area: desc1; 
    
  }
  .iiitem1 p {
    background-color: #317773;
    color: white;
  }
  .iiitem2 { 
    grid-area: pic1; 
  }
  .iiitem3 { 
    grid-area: desc2; 
  }

  .iiitem3_1 {
    grid-area: research;
  }

  .iiitem3_5 {
    grid-area: quote;
  }
  .iiitem4 { 
    grid-area: desc3; 
  }
  .iiitem4_5 {
    grid-area: probe;
  }
  .iiitem5 { 
    grid-area: desc4; 
  }
  .iiitem6 { 
    grid-area: zoom; 
  }
  .iiitem7 { 
    grid-area: desc5; 
  }
  .iiitem8{
    grid-area: desc6; 
}
  .iiitem9{
    grid-area: HMW; 
}

.iiitem9_1{
  grid-area: desc6_5;
}

.iiitem10{
    grid-area: desc7;
}
.iiitem11 {
  grid-area: persona1;
}
.iiitem12 {
  grid-area: persona2;
}
.iiitem13 {
  grid-area: desc8;
}
.iiitem14 {
  grid-area: journey;
}
.iiitem14_5 {
  grid-area: desc8_5;
}
.iiitem15 {
  grid-area: desc9;
}
.iiitem15_11{
  grid-area: safe1;
}
.iiitem15_12{
  grid-area: safe2;
}
.iiitem15_13{
  grid-area: safe3;
}
.iiitem15_14{
  grid-area: safe4;
}
.iiitem15_1 {
  grid-area:b1;
}
.iiitem15_2 {
  grid-area:b2;
}
.iiitem15_3 {
  grid-area:b3;
}
.iiitem15_4 {
  grid-area:b4;
}
.iiitem15_5 {
  grid-area:refinedhmw;
}
.iiitem16 {
  grid-area: prototyping;
}
.iiitem16_1 {
  grid-area: desc10;
}
.iiitem16_2 {
  grid-area: pics;
}
.iiitem16_3 {
  grid-area: pics2;
}
.iiitem17_0 {
  grid-area: usabilityName;
}
.iiitem17 {
  grid-area: usability;
}
.iiitem17_5 {
  grid-area: usabilitypics;
}
.iiitem18 {
  grid-area: usability2;
}
.iiitem18_5 {
  grid-area: usability2pics;
}
.iiitem19 {
  grid-area: refined;
}
.iiitem19_1 {
  grid-area: bagg;
}
.iiitem19_2 {
  grid-area: itemss;
}
.iiitem20 {
  grid-area: future;
}
   
  .home .project2 .grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'roles roles desc1 desc1'
      'roles roles desc1 desc1'
      'research research research research'
      'desc2 desc2 desc2 quote'
      'desc2 desc2 desc2 quote '
      'probe probe desc3 desc3'
      'probe probe desc3 desc3'
      'desc4 desc4 zoom zoom'
      'desc4 desc4 zoom zoom'
      'desc5 desc5 desc5 desc5'
      'desc6 HMW HMW HMW'
      'desc6 HMW HMW HMW'
      'desc6_5 desc6_5 desc6_5 desc6_5'
      'desc7 desc7 desc7 desc7'
      'persona1 persona1 persona2 persona2'
      'persona1 persona1 persona2 persona2'
      'desc8 desc8 desc8 desc8'
      'journey journey journey journey'
      'journey journey journey journey'
      'desc8_5 desc8_5 desc8_5 desc8_5'
      'desc9 desc9 desc9 desc9'
      'safe1 safe2 safe3 safe4'
      'b4 b1 b2 b3'
      'refinedhmw refinedhmw refinedhmw refinedhmw'
      'prototyping prototyping prototyping prototyping'
      'desc10 desc10 pics pics2'
      'desc10 desc10 pics pics2'
      'usabilityName usabilityName usabilityName usabilityName'
      'usabilitypics usabilitypics usability usability' 
      'usability2 usability2 usability2pics usability2pics'
      'refined refined refined refined'
      'bagg bagg itemss itemss'
      'future future future future';
    gap: 1vw;
    padding: 5vh 0;
    font-family: minion, sans-serif;
    text-align: justify;
  }
  
  .home .project2 .grid-container2 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    text-align: justify;
    font-size: 20px;
    font-weight: 300;
  }

.video iframe {
    margin-left:  25% ;
}

.sectionName {
    color: #317773;
    font-size: 40px;
    text-align: center;
    font-family: proxima-nova-extra-condensed, sans-serif;
    /* letter-spacing: 0.2rem; */
}

#bannerimage {
    width: 100%;
    background-image: url('banner21.jpeg');
    height: 25vh;
    background-color: purple;
    background-position: center;
  }

  #thisImage {
    background-image: url('pic1.jpeg');
    background-color: purple;
    background-position: center;
    height: 35vh;

  }

  #thisImage2 {
    background-image: url('pic1.jpeg');
    background-color: purple;
    background-position: center;
    height: 35vh;

  }

  #culturalProbe {
    display: block;
    background-image: url('img/culturalProbe.png');
    background-color: white;
    background-position: center;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #culturalProbe2 {
    
    background-image: url('img/culturalProbe.png');
    background-color: white;
    background-position: center;
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #UserTestingQ {
    display: block;
    background-image: url('img/usabilityTestQuestions.png');
    background-color: white;
    background-position: center;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #usabilityResults {
    display: block;
    background-image: url('img/usabilityTestResults.png');
    background-color: white;
    background-position: center;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #userpersona1 {
    background-image: url('up1.png');
    background-color: white;
    background-position: center;
    width: 100%;
    height: 35vh;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #userpersona2 {
    background-image: url('up2.png');
    background-color: white;
    background-position: center;
    height: 35vh;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #userjourney {
    background-image: url('journeymap.png');
    background-color: white;
    background-position: center;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #safeNYU1 {
    background-image: url('img/safe1.PNG');
    background-color: white;
    background-position: center;
    width: 100%;
    height: 35vh;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #safeNYU2 {
    background-image: url('img/safe2.PNG');
    background-color: white;
    background-position: center;
    width: 100%;
    height: 35vh;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #safeNYU3 {
    background-image: url('img/safe3.PNG');
    background-color: white;
    background-position: center;
    width: 100%;
    height: 35vh;
    background-repeat: no-repeat;
    background-size: contain;
  }


  #safeNYU4 {
    background-image: url('img/safe4.PNG');
    background-color: white;
    background-position: center;
    width: 100%;
    height: 35vh;
    background-repeat: no-repeat;
    background-size: contain;
  }


  #qrcode {

    background-image: url('img/QR\ code.jpeg');
    background-color: white;
    background-position: center;
    width: 100%;
    height: 35vh;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #bag {

    background-image: url('img/toteBag.png');
    background-color: white;
    background-position: center;
    width: 100%;
    height: 35vh;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #items {

    background-image: url('img/items.jpg');
    background-color: white;
    background-position: center;
    width: 100%;
    height: 35vh;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #physicalprototype {

    background-image: url('img/prototype.jpg');
    background-color: white;
    background-position: center;
    width: 100%;
    height: 35vh;
    background-repeat: no-repeat;
    background-size: contain;
  }



  #howmightwe {
    background-image: url('up2.png');
    background-color: white;
    background-position: center;
    height: 43vh;
  }

  #noInternet {
    background-image: url('img/no_internet.jpeg');
    background-color: white;
    background-position: center;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #brainstorming1 {
    background-image: url('img/brainstorming1.png');
    background-color: white;
    background-position: center;
    height: 20vh;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #brainstorming2 {
    background-image: url('img/brainstorming2.png');
    background-color: white;
    background-position: center;
    height: 20vh;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #brainstorming3 {
    background-image: url('img/brainstorming3.png');
    background-color: white;
    background-position: center;
    height: 20vh;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #poster {
    background-image: url('img/posterEmergency.png');
    background-color: white;
    background-position: center;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: contain;
  }
.ShortDescription2 p{
    text-align: center;
    /* font-size: 12px;
    font-family: proxima-nova, sans-serif; */
    font-weight: 300;
  }

.ShortDescription2 {
    margin: auto;
}

.ShortDescription2 .bold {
    display: inline;
    color: #317773;
    font-weight: 700;
    font-family: minion, sans-serif;

}

.quote1{
    text-align: center;
    font-size: 25px;
    color: #317773;
    font-weight: 600;
}

.description10 ul{
  color: black;
}

#refinedHMW .bold {
  font-size: 25px;
  color: #317773;
  text-align: center;
  font-weight: 600;
}
