.bodyPart {
    align-content: center;
    font-weight: 500;
}

.bodyPart .title4 {
    color: #317773;
    font-size: 50px;
    text-align: center;
    font-family: proxima-nova-extra-condensed, sans-serif;
}
.subtitle {
    color: black;
    text-align: center;
}

.maintext {
    color: black;
    text-align: center;
}

.ppart1 { 
    grid-area: genDesc; 
  }
  .ppart2 { 
    grid-area: Desc1; 
  }
  .ppart3 { 
    grid-area: video; 
  }
  
  .home .project4 .grid-container4 {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-areas:
      'Desc1 '
      ' video'
      ;
    gap: 0;
    /* padding: 1vh 0; */
    font-family: minion, sans-serif;
  }
  
  .home .project4 .grid-container4 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
    font-weight: 300;
  }

.vp-center{
  align-items: unset;
  margin: 0;
}
.video iframe {
  margin: -10%;
}

.project4 .projectDesc{
  align-content: center;
}

.project4 .projectDesc .bold {
  display: inline;
  font-weight: 600;
  color: #EB9C5C;

}

.vp-placeholder {
  margin: 0;
}


