.bodyPart {
    align-content: center;
}

.bodyPart .title {
    color: #317773;
    font-size: 50px;
    text-align: center;
    font-family: proxima-nova-extra-condensed, sans-serif;
}
.subtitle {
    color: black;
    text-align: center;
}

.maintext {
    color: black;
    text-align: center;
}

.video iframe {
    margin-left:  25% ;
}


.ShortDescription p{
    text-align: center;
    font-size: 12px;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
  }

.ShortDescription {
    margin: auto;
}

/* Rounded border */
hr.rounded {
    width: 80%;
    border-top: 5px solid #317773;
    border-radius: 4px;
  }