p {
    font-weight: 700;
}

.aboutme {
    padding: 20vh 10vw ;
    display: block;

}

.pic{
    display: block;
    margin-left: auto;
  margin-right: auto;
    width: 10vw;
}


.animation-wrapper {
    padding-top: 30vh;
    margin-left: 50vw;
}