.footer {
    display: flex;
   
    justify-content: center;
    
    background-color: #317773;
    margin-left: -15vw;;
    width: 99vw;
    color: white;
    
}

p{
    padding-top: .5vh;
    padding-bottom: .5vh;
    /* margin-top: 24px; */
}