.contact {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.contact-container {
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
    
}
.contact p {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-weight: 300;
}

.Contact-Form {
    padding-left: 10vw;;
}