.header{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 12px;
    position: relative;
    align-items: center;
}

a {
    text-decoration: none;
}

.is-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 12px;
    align-items: center;
    /* box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%); */
    background-color: #ffffff !important;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    padding-top: 0px;
    padding-bottom: 0px;
}

.is-sticky .web-menu {
    padding-left: 20vw;;
}

.menu{
    background-color: white;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}


.mobile-menu{
    display: none;
}
.web-menu{
    display: flex;
}

.logo{
    font-family: proxima-nova-extra-condensed, sans-serif;
    display: flex;
    font-size: 36px;
    color: white;
    background-color: #317773;
    font-weight: 400;
}

@media only screen and (max-width: 720px) {
    .mobile-menu{
        display: flex;
    }
    .web-menu{
        display: none;
    }
    .logo{
        font-size: 24px;
    }
}

