.circle {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color:  #E2D1F9;;
    animation: move-the-circle 5s infinite;
    transform-origin: center center;
  }
  
  @for $num from 1 through 33 {
    .circle:nth-child(#{$num}) {
      left: ($num - 1) * (100vw/32);
      animation-delay: $num * .1s;
    }
  }
  
  @keyframes move-the-circle {
    0% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
      background-color: #E2D1F9;;
    }
    50% {
      transform: translate(0, 50px) scale(.4);
      opacity: .5;
      background-color: blue;
    }
    100% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
      background-color:  #E2D1F9;;
    }
  }